node_modules/
dist/
*.tsbuildinfo

# Testing
__diff_output__/
*-current.png
/coverage
e2e/fixture/node_modules/
e2e/fixture/storybook-static/
e2e/snapshots/
/e2e/playwright/visual.e2e.spec.ts-snapshots
/test-results
/.stryker-tmp
reports/mutation/mutation.html
*.txt
cfg-root-*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
/.npm